span {
  margin: 0;
}

.word-map {
  width: 100vw;
  border: 0.5rem solid black;
  border-radius: 50vw;
  text-align: center;
  overflow: auto;
}

.word-map:empty {
  visibility: hidden;
}

.word-map div:nth-child(3n) {
  writing-mode: vertical-lr;
}

.word {
  margin: 0.1rem;
  float: left;
}
